[submodule "cmake-helper/DownloadProject"]
	path = cmake-helper/DownloadProject
	url = https://github.com/Crascit/DownloadProject
	branch = master
[submodule "cmake-helper/cmake-pandocology"]
	path = cmake-helper/cmake-pandocology
	url = https://github.com/compor/cmake-pandocology
	branch = master
